@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

:root {
    --dark: #1f2833;
    --white: #fff;
    --chrem: #fbebd8;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Signika Negative', sans-serif;
    background-color: var(--dark);
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}


.cim {
    color: var(--chrem);
    font-size: 50px;
}

@media(max-width: 500px) {
    .cim {
        font-size: 40px;
    }
    .coverIMG img {
        width: 100%;
    }
}